body {
    margin: 0;
    background-color: #1F2937;
    font-family: "Karla", "Manrope", sans-serif;
    font-optical-sizing: auto;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
    margin: 0px;
    color: #FFFFFF;
}

#green {
    color: #4ADF86;
}

p {
    color: #d5d4d8;
    font-size: 20px;
}

#generatePasswordsButton {
    font-family: "Karla", "Manrope", sans-serif;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 20px;
    background-color: #10B981;
    border-radius: 8px;
    border: 0px;
    margin-top: 20px;
}

hr.solid {
    margin: 30px 0;
    border: 2px solid #2F3E53;
}

.passwords {
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  gap: 40px;
}

#password-one, #password-two {
  flex: 1; /* This makes them equal width */
  background-color: #273549;
  color: #55F991;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}